/*  --------------------------------------------------
:: grid.scss: 
            Defines grid variables and mixins for use in _layouts.scss 
            Defines all the breakpoints used everywhere
-------------------------------------------------- */
/*  --------------------------------------------------
:: colors.scss: Cisco color palette.
-------------------------------------------------- */
/*  --------------------------------------------------
:: _buttons.scss: Button styling mixins - use in components
-------------------------------------------------- */
/*  --------------------------------------------------
:: _typography.scss: Shared type size variables.
-------------------------------------------------- */
/*  --------------------------------------------------
:: rem.scss: typography magic.
-------------------------------------------------- */
/*  --------------------------------------------------
:: colors.scss: Cisco color palette.
-------------------------------------------------- */
/*  --------------------------------------------------
:: _typography.scss: Shared type size variables.
-------------------------------------------------- */
/* line 8, ../../sass/layouts/demo-pages.scss */
.l-col .grid-demo {
  background: #ddc;
  padding: 10px;
  margin-bottom: 20px;
}

/* line 14, ../../sass/layouts/demo-pages.scss */
.l-col .demo-zebra-odd {
  background: #bba;
}

/* line 17, ../../sass/layouts/demo-pages.scss */
.l-col .grid-demo-nest {
  background: #eed;
  margin-bottom: 20px;
}
/* line 21, ../../sass/layouts/demo-pages.scss */
.l-col .grid-demo-nest h3 {
  display: block;
  width: 100%;
  clear: both;
  padding: 10px;
}

/* line 28, ../../sass/layouts/demo-pages.scss */
.demo-callout {
  border: 2px solid #ff7a00;
  border-radius: 6px;
  padding: 10px;
}
/* line 34, ../../sass/layouts/demo-pages.scss */
.demo-callout h2, .demo-callout h3 {
  margin-top: 0;
}

/* line 39, ../../sass/layouts/demo-pages.scss */
hr {
  border-top: 3px solid #555;
}

/* line 45, ../../sass/layouts/demo-pages.scss */
.colors .color-demo {
  margin: 30px 0;
}
/* line 47, ../../sass/layouts/demo-pages.scss */
.colors .color-demo h4, .colors .color-demo p {
  padding-left: 40px;
}
/* line 51, ../../sass/layouts/demo-pages.scss */
.colors .color-swatch {
  display: block;
  position: absolute;
  width: 25px;
  height: 25px;
  padding: 0;
  border: 0;
  border-radius: 0;
}
/* line 60, ../../sass/layouts/demo-pages.scss */
.colors .color-swatch.body-text-color {
  background: #525252;
}
/* line 63, ../../sass/layouts/demo-pages.scss */
.colors .color-swatch.link-color {
  background: #0075b4;
}
/* line 66, ../../sass/layouts/demo-pages.scss */
.colors .color-swatch.headline-color {
  background: #444444;
}
/* line 69, ../../sass/layouts/demo-pages.scss */
.colors .color-swatch.light-text-color {
  background: #777777;
}
/* line 72, ../../sass/layouts/demo-pages.scss */
.colors .color-swatch.inactive-text-color {
  background: #999999;
}
/* line 75, ../../sass/layouts/demo-pages.scss */
.colors .color-swatch.border-color {
  background: #cccccc;
}
/* line 78, ../../sass/layouts/demo-pages.scss */
.colors .color-swatch.light-grey-fill-color {
  background: whitesmoke;
}
/* line 81, ../../sass/layouts/demo-pages.scss */
.colors .color-swatch.medium-grey-fill-color {
  background: #eeeeee;
}
/* line 84, ../../sass/layouts/demo-pages.scss */
.colors .color-swatch.dark-grey-fill-color {
  background: #777777;
}
/* line 88, ../../sass/layouts/demo-pages.scss */
.colors .color-swatch.side-tab-color {
  background: #f2f2f2;
}
/* line 91, ../../sass/layouts/demo-pages.scss */
.colors .color-swatch.side-tab-hover-color {
  background: #e6e6e6;
}
/* line 94, ../../sass/layouts/demo-pages.scss */
.colors .color-swatch.side-tab-on-state {
  background: -webkit-linear-gradient(top, #e5e5e5, #cbcbcb);
  background: -moz-linear-gradient(top, #e5e5e5, #cbcbcb);
  background: -o-linear-gradient(top, #e5e5e5, #cbcbcb);
  background: linear-gradient(to bottom, #e5e5e5, #cbcbcb);
}
/* line 98, ../../sass/layouts/demo-pages.scss */
.colors .color-swatch.background {
  background: -webkit-linear-gradient(top, #ebebeb, #ffffff);
  background: -moz-linear-gradient(top, #ebebeb, #ffffff);
  background: -o-linear-gradient(top, #ebebeb, #ffffff);
  background: linear-gradient(to bottom, #ebebeb, #ffffff);
  border: 1px dashed #cccccc;
}
/* line 103, ../../sass/layouts/demo-pages.scss */
.colors .color-swatch.grey-button {
  background: -webkit-linear-gradient(top, #fdfdfd 0%, #bcbcbc 100%);
  background: -moz-linear-gradient(top, #fdfdfd 0%, #bcbcbc 100%);
  background: -o-linear-gradient(top, #fdfdfd 0%, #bcbcbc 100%);
  background: linear-gradient(to bottom, #fdfdfd 0%, #bcbcbc 100%);
}
/* line 105, ../../sass/layouts/demo-pages.scss */
.colors .color-swatch.grey-button:hover {
  background: -webkit-linear-gradient(top, #eeeeee 0%, #bcbcbc 100%);
  background: -moz-linear-gradient(top, #eeeeee 0%, #bcbcbc 100%);
  background: -o-linear-gradient(top, #eeeeee 0%, #bcbcbc 100%);
  background: linear-gradient(to bottom, #eeeeee 0%, #bcbcbc 100%);
}
/* line 109, ../../sass/layouts/demo-pages.scss */
.colors .color-swatch.blue-button {
  background: -webkit-linear-gradient(top, #56a3d4, #0075b4);
  background: -moz-linear-gradient(top, #56a3d4, #0075b4);
  background: -o-linear-gradient(top, #56a3d4, #0075b4);
  background: linear-gradient(to bottom, #56a3d4, #0075b4);
}
/* line 111, ../../sass/layouts/demo-pages.scss */
.colors .color-swatch.blue-button:hover {
  background: -webkit-linear-gradient(top, #4999ce, #015596);
  background: -moz-linear-gradient(top, #4999ce, #015596);
  background: -o-linear-gradient(top, #4999ce, #015596);
  background: linear-gradient(to bottom, #4999ce, #015596);
}
/* line 115, ../../sass/layouts/demo-pages.scss */
.colors .color-swatch.green-button {
  background: -webkit-linear-gradient(top, #9fd443, #609c01);
  background: -moz-linear-gradient(top, #9fd443, #609c01);
  background: -o-linear-gradient(top, #9fd443, #609c01);
  background: linear-gradient(to bottom, #9fd443, #609c01);
}
/* line 117, ../../sass/layouts/demo-pages.scss */
.colors .color-swatch.green-button:hover {
  background: -webkit-linear-gradient(top, #8dca30, #4b8a00);
  background: -moz-linear-gradient(top, #8dca30, #4b8a00);
  background: -o-linear-gradient(top, #8dca30, #4b8a00);
  background: linear-gradient(to bottom, #8dca30, #4b8a00);
}
/* line 122, ../../sass/layouts/demo-pages.scss */
.colors .color-swatch.white {
  background: white;
  border: 1px dashed #cccccc;
}
/* line 126, ../../sass/layouts/demo-pages.scss */
.colors .color-swatch.blue {
  background: #0075b4;
}
/* line 129, ../../sass/layouts/demo-pages.scss */
.colors .color-swatch.classic-link-blue {
  background: #2970a6;
}
/* line 133, ../../sass/layouts/demo-pages.scss */
.colors .color-swatch.grey-e {
  background: #eeeeee;
}
/* line 136, ../../sass/layouts/demo-pages.scss */
.colors .color-swatch.grey-d {
  background: #dddddd;
}
/* line 139, ../../sass/layouts/demo-pages.scss */
.colors .color-swatch.grey-c {
  background: #cccccc;
}
/* line 143, ../../sass/layouts/demo-pages.scss */
.colors .color-swatch.f5f5f5 {
  background: #f5f5f5;
}
/* line 146, ../../sass/layouts/demo-pages.scss */
.colors .color-swatch.eaeaea {
  background: #eaeaea;
}
/* line 149, ../../sass/layouts/demo-pages.scss */
.colors .color-swatch.e5e5e5 {
  background: #e5e5e5;
}
/* line 153, ../../sass/layouts/demo-pages.scss */
.colors .color-swatch.grey-4 {
  background: #444444;
}
/* line 156, ../../sass/layouts/demo-pages.scss */
.colors .color-swatch.grey-6 {
  background: #666666;
}
/* line 159, ../../sass/layouts/demo-pages.scss */
.colors .color-swatch.grey-7 {
  background: #777777;
}

/* line 180, ../../sass/layouts/demo-pages.scss */
.buttons {
  margin-top: 20px;
}
/* line 182, ../../sass/layouts/demo-pages.scss */
.buttons .button-demo {
  margin-bottom: 30px;
}
/* line 185, ../../sass/layouts/demo-pages.scss */
.buttons p {
  margin-bottom: 0;
}
/* line 188, ../../sass/layouts/demo-pages.scss */
.buttons a.btn-blue-gradient {
  padding: 9px 34px 11px;
  margin-right: 8px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font: bold 13px/1em "Helvetica Neue", HelveticaNeue, Helvetica, Arial, "Nimbus Sans L", sans-serif;
  text-align: center;
  color: white;
  text-shadow: 0 -1px 0 #215984;
  background: #0075b4;
  background: -webkit-linear-gradient(top, #56a3d4, #0075b4);
  background: -moz-linear-gradient(top, #56a3d4, #0075b4);
  background: -o-linear-gradient(top, #56a3d4, #0075b4);
  background: linear-gradient(to bottom, #56a3d4, #0075b4);
  border-color: #0075b4 #0075b4 #0075b6;
  -webkit-box-shadow: 0 1px 0 0 #4999ce inset;
  -moz-box-shadow: 0 1px 0 0 #4999ce inset;
  box-shadow: 0 1px 0 0 #4999ce inset;
}
@media (min-width: 600px) {
  /* line 188, ../../sass/layouts/demo-pages.scss */
  .buttons a.btn-blue-gradient {
    padding: 10px 30px;
  }
}
/* line 20, ../../sass/base/_buttons.scss */
.buttons a.btn-blue-gradient:hover {
  cursor: pointer;
  text-decoration: none !important;
}
/* line 88, ../../sass/base/_buttons.scss */
.buttons a.btn-blue-gradient:hover {
  background-color: #008cd8;
  background: -webkit-linear-gradient(top, #4999ce, #015596);
  background: -moz-linear-gradient(top, #4999ce, #015596);
  background: -o-linear-gradient(top, #4999ce, #015596);
  background: linear-gradient(to bottom, #4999ce, #015596);
  -webkit-box-shadow: inset 0 1px 0 0 #4999ce;
  -moz-box-shadow: inset 0 1px 0 0 #4999ce;
  box-shadow: inset 0 1px 0 0 #4999ce;
}
/* line 191, ../../sass/layouts/demo-pages.scss */
.buttons a.btn-green-gradient {
  padding: 9px 34px 11px;
  margin-right: 8px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font: bold 13px/1em "Helvetica Neue", HelveticaNeue, Helvetica, Arial, "Nimbus Sans L", sans-serif;
  text-align: center;
  color: white;
  text-shadow: 0 -1px 0 #4c9021;
  background-color: #63a62f;
  background: -webkit-linear-gradient(top, #9fd443, #609c01);
  background: -moz-linear-gradient(top, #9fd443, #609c01);
  background: -o-linear-gradient(top, #9fd443, #609c01);
  background: linear-gradient(to bottom, #9fd443, #609c01);
  border-color: #63a62f #63a62f #5b992b;
  -webkit-box-shadow: 0 1px 0 0 #96ca6d inset;
  -moz-box-shadow: 0 1px 0 0 #96ca6d inset;
  box-shadow: 0 1px 0 0 #96ca6d inset;
}
@media (min-width: 600px) {
  /* line 191, ../../sass/layouts/demo-pages.scss */
  .buttons a.btn-green-gradient {
    padding: 10px 30px;
  }
}
/* line 20, ../../sass/base/_buttons.scss */
.buttons a.btn-green-gradient:hover {
  cursor: pointer;
  text-decoration: none !important;
}
/* line 104, ../../sass/base/_buttons.scss */
.buttons a.btn-green-gradient:hover {
  background-color: #74c237;
  background: -webkit-linear-gradient(top, #8dca30, #4b8a00);
  background: -moz-linear-gradient(top, #8dca30, #4b8a00);
  background: -o-linear-gradient(top, #8dca30, #4b8a00);
  background: linear-gradient(to bottom, #8dca30, #4b8a00);
  -webkit-box-shadow: inset 0 1px 0 0 #8dbf67;
  -moz-box-shadow: inset 0 1px 0 0 #8dbf67;
  box-shadow: inset 0 1px 0 0 #8dbf67;
}
/* line 194, ../../sass/layouts/demo-pages.scss */
.buttons a.btn-grey-gradient {
  padding: 9px 34px 11px;
  margin-right: 8px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font: bold 13px/1em "Helvetica Neue", HelveticaNeue, Helvetica, Arial, "Nimbus Sans L", sans-serif;
  text-align: center;
  color: #444444;
  text-shadow: 0 1px 0 white;
  background: #efefef;
  background: -webkit-linear-gradient(top, #fdfdfd 0%, #bcbcbc 100%);
  background: -moz-linear-gradient(top, #fdfdfd 0%, #bcbcbc 100%);
  background: -o-linear-gradient(top, #fdfdfd 0%, #bcbcbc 100%);
  background: linear-gradient(to bottom, #fdfdfd 0%, #bcbcbc 100%);
  border: 1px solid #444444;
}
@media (min-width: 600px) {
  /* line 194, ../../sass/layouts/demo-pages.scss */
  .buttons a.btn-grey-gradient {
    padding: 10px 30px;
  }
}
/* line 20, ../../sass/base/_buttons.scss */
.buttons a.btn-grey-gradient:hover {
  cursor: pointer;
  text-decoration: none !important;
}
/* line 72, ../../sass/base/_buttons.scss */
.buttons a.btn-grey-gradient:hover {
  color: black;
  background: -webkit-linear-gradient(top, #eeeeee 0%, #bcbcbc 100%);
  background: -moz-linear-gradient(top, #eeeeee 0%, #bcbcbc 100%);
  background: -o-linear-gradient(top, #eeeeee 0%, #bcbcbc 100%);
  background: linear-gradient(to bottom, #eeeeee 0%, #bcbcbc 100%);
}
/* line 197, ../../sass/layouts/demo-pages.scss */
.buttons a.btn-blue-flat {
  padding: 9px 34px 11px;
  margin-right: 8px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font: bold 14px/1em "Helvetica Neue", HelveticaNeue, Helvetica, Arial, "Nimbus Sans L", sans-serif;
  color: white;
  text-align: center;
  background-color: #0075b4;
}
@media (min-width: 600px) {
  /* line 197, ../../sass/layouts/demo-pages.scss */
  .buttons a.btn-blue-flat {
    padding: 10px 30px;
  }
}
/* line 37, ../../sass/base/_buttons.scss */
.buttons a.btn-blue-flat:hover {
  cursor: pointer;
  text-decoration: none !important;
}
/* line 42, ../../sass/base/_buttons.scss */
.buttons a.btn-blue-flat:visited {
  color: white;
}
/* line 116, ../../sass/base/_buttons.scss */
.buttons a.btn-blue-flat:hover {
  background-color: #015596;
}
/* line 200, ../../sass/layouts/demo-pages.scss */
.buttons a.btn-green-flat {
  padding: 9px 34px 11px;
  margin-right: 8px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font: bold 14px/1em "Helvetica Neue", HelveticaNeue, Helvetica, Arial, "Nimbus Sans L", sans-serif;
  color: white;
  text-align: center;
  background-color: #32c10b;
}
@media (min-width: 600px) {
  /* line 200, ../../sass/layouts/demo-pages.scss */
  .buttons a.btn-green-flat {
    padding: 10px 30px;
  }
}
/* line 37, ../../sass/base/_buttons.scss */
.buttons a.btn-green-flat:hover {
  cursor: pointer;
  text-decoration: none !important;
}
/* line 42, ../../sass/base/_buttons.scss */
.buttons a.btn-green-flat:visited {
  color: white;
}
/* line 124, ../../sass/base/_buttons.scss */
.buttons a.btn-green-flat:hover {
  background-color: #229e01;
}
/* line 127, ../../sass/base/_buttons.scss */
.buttons a.btn-green-flat:visited {
  color: white;
}
/* line 203, ../../sass/layouts/demo-pages.scss */
.buttons a.btn-teal-flat {
  padding: 8px 15px;
  margin-right: 8px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  text-align: center;
  font: normal 14px/1em "Helvetica Neue", HelveticaNeue, Helvetica, Arial, "Nimbus Sans L", sans-serif;
  background-color: #00a4c0;
}
@media (min-width: 600px) {
  /* line 203, ../../sass/layouts/demo-pages.scss */
  .buttons a.btn-teal-flat {
    padding: 8px 15px;
  }
}
/* line 57, ../../sass/base/_buttons.scss */
.buttons a.btn-teal-flat:hover {
  cursor: pointer;
  text-decoration: none !important;
}
/* line 135, ../../sass/base/_buttons.scss */
.buttons a.btn-teal-flat:hover {
  background-color: #008e89;
}
/* line 206, ../../sass/layouts/demo-pages.scss */
.buttons a.btn-grey-flat {
  padding: 8px 15px;
  margin-right: 8px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  text-align: center;
  font: normal 14px/1em "Helvetica Neue", HelveticaNeue, Helvetica, Arial, "Nimbus Sans L", sans-serif;
  background-color: #666666;
  color: white;
  font-weight: bold;
}
@media (min-width: 600px) {
  /* line 206, ../../sass/layouts/demo-pages.scss */
  .buttons a.btn-grey-flat {
    padding: 8px 15px;
  }
}
/* line 57, ../../sass/base/_buttons.scss */
.buttons a.btn-grey-flat:hover {
  cursor: pointer;
  text-decoration: none !important;
}
/* line 145, ../../sass/base/_buttons.scss */
.buttons a.btn-grey-flat:hover {
  background-color: #444444;
}
/* line 148, ../../sass/base/_buttons.scss */
.buttons a.btn-grey-flat:visited {
  color: white;
}
/* line 209, ../../sass/layouts/demo-pages.scss */
.buttons a.btn-light-grey-flat {
  padding: 8px 15px;
  margin-right: 8px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  text-align: center;
  font: normal 14px/1em "Helvetica Neue", HelveticaNeue, Helvetica, Arial, "Nimbus Sans L", sans-serif;
  background-color: whitesmoke;
  border: 1px solid #999999;
  color: #222222;
}
@media (min-width: 600px) {
  /* line 209, ../../sass/layouts/demo-pages.scss */
  .buttons a.btn-light-grey-flat {
    padding: 8px 15px;
  }
}
/* line 57, ../../sass/base/_buttons.scss */
.buttons a.btn-light-grey-flat:hover {
  cursor: pointer;
  text-decoration: none !important;
}
/* line 158, ../../sass/base/_buttons.scss */
.buttons a.btn-light-grey-flat:hover {
  color: #111111;
  background-color: #dddddd;
}
/* line 162, ../../sass/base/_buttons.scss */
.buttons a.btn-light-grey-flat:visited {
  color: #222222;
}
/* line 220, ../../sass/layouts/demo-pages.scss */
.buttons a.btn-default-flat {
  padding: 8px 15px;
  margin-right: 8px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  text-align: center;
  font: normal 14px/1em "Helvetica Neue", HelveticaNeue, Helvetica, Arial, "Nimbus Sans L", sans-serif;
  background-color: white;
  border: 1px solid #999999;
  color: #222222;
}
@media (min-width: 600px) {
  /* line 220, ../../sass/layouts/demo-pages.scss */
  .buttons a.btn-default-flat {
    padding: 8px 15px;
  }
}
/* line 57, ../../sass/base/_buttons.scss */
.buttons a.btn-default-flat:hover {
  cursor: pointer;
  text-decoration: none !important;
}
/* line 172, ../../sass/base/_buttons.scss */
.buttons a.btn-default-flat:hover {
  color: #0075b4;
  background-color: whitesmoke;
}
/* line 176, ../../sass/base/_buttons.scss */
.buttons a.btn-default-flat:visited {
  color: #222222;
}
/* line 226, ../../sass/layouts/demo-pages.scss */
.buttons .large-text {
  font-size: 14px !important;
}

/* line 235, ../../sass/layouts/demo-pages.scss */
.disable-visited:visited {
  color: #0075b4;
}

/* line 240, ../../sass/layouts/demo-pages.scss */
.visited-link {
  transition: all 0.5s ease;
}
/* line 242, ../../sass/layouts/demo-pages.scss */
.visited-link.visited-sample {
  display: block;
  margin: 5px 0;
}
/* line 246, ../../sass/layouts/demo-pages.scss */
.visited-link.color-teal {
  color: #00b9db;
}
/* line 249, ../../sass/layouts/demo-pages.scss */
.visited-link.color-light-purple {
  color: #94005d;
}
/* line 252, ../../sass/layouts/demo-pages.scss */
.visited-link.color-purple {
  color: #79004e;
}
/* line 255, ../../sass/layouts/demo-pages.scss */
.visited-link.color-dark-purple {
  color: #61003d;
}
/* line 258, ../../sass/layouts/demo-pages.scss */
.visited-link.color-pastel-purple {
  color: #6f53bc;
}
